body {
    margin: 0;
    font-family: 'Girloy', 'Times new roman';
    background-color: rgb(255, 255, 255);
}

.form {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);

background-size: 1%;

}
.Location{
 text-align: center;
 background-image: url(https://img.freepik.com/free-photo/vivid-blurred-colorful-background_58702-2655.jpg?size=626&ext=jpg&ga=GA1.1.1413502914.1697414400&semt=sph);
 border-color: rgb(255, 255, 255);
 padding: 10;
 background-size: 200%;
 background-repeat: no-repeat;
}
